
# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++


# Base ignore directories
/build
/build_lib
/tests/build
/MSSAProcessingPipeline/build
/.vs
/.vscode
/out
/tools/vcpkg
/data
/vcpkg_installed
*Testing
/release

# Matfiles to ignore
/*.mexw64
*.asv
/*.m

# Ignore matfiles now in +mssa
!/+mssa/*.m

# Ignore docs that are not finished
/docs/*.drawio*
/docs/*.txt

# Others
*.log
*.pdb
*.cdf
*.csv
sample.json
LoadSampleData.m
/*/dist
/dist
.python-version